.wrap__dropzone{
  display: flex;
  justify-content: space-between;
}

.dropzone_control{
  width: 330px;
  height: 226.66px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-plus{
  font-size: 3rem;
}
.dropzone-img-section {
 display: flex;
 width: 330px;
 overflow-x: scroll;
 
}
.dropzone-img-control {
  width: 340px
}
