.panel_filter_checkbox{
  background-color: #eafcffce;
  font-size: 15px;
}

.ant-collapse-content-box{
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

.ant-collapse-content-box span{
}