.panel_filter_checkbox{
  background-color: rgb(253, 241, 249);
  font-size: 15px;
}

.ant-collapse-content-box{
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

.checkbox-background {
  background-color: white;
}