
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,th {
    border-bottom: 1px solid #dddddd;
  }

  tr {
    padding: 100px;
  }
  
  .title-layout {
    font-weight: bold;
  }

  .count-layout {
    text-align: right;
  }

  .price-layout {
    text-align: right;
  }

  .remove-btn-layout {
    text-align: right;
  }

  tr:nth-child(even) {
    /* background-color: #dddddd; */
  }